flask~=1.1.2
konfig
swagger_parser
pytest
pytest-flake8
pytest-cov
tox
WTForms~=2.3.3
flask-wtf
Jinja2
Werkzeug~=1.0.1
MarkupSafe
SQLAlchemy~=1.3.22
bcrypt~=3.2.0
Flask_SQLAlchemy
Flask-Bootstrap
pylint-flask
pylint-flask-sqlalchemy
flask_script
flask_migrate
psycopg2-binary
python-magic
flask-principal
flask-login
is_safe_url
flask_session
alembic~=1.4.3
Pillow~=8.0.1
flask-cors
