{% extends "base.html" %}


{% block body %}

  <body onload="reset_all()">

  {% block navbar %}
    {{ super() }}
  {% endblock %}

  {% block content %}
    <script>window.addEventListener('keypress', keyPressListener, false);
    window.addEventListener('click', clickListener, false);</script>
    <div class=container>
      <button onclick="undo()">Undo</button>
      <button onclick="reset_all()">Reset</button>
      <button onclick="submit()" id="btnSubmit">Submit</button>
      <br/>
      <canvas
              data-imgsrc="data/{{ image_id[0] }}/{{ image_id[0:4] }}/{{ image_id[4:8] }}/{{ image_id }}"
              id="labelCanvas" oncontextmenu="return false;"
              onmousedown="new_segment(event)" style="cursor:crosshair"></canvas>
      <div><textarea disabled="disabled" id="coords"></textarea></div>
      <script src="../static/js/Polygon.js" type="text/javascript"></script>

    </div>
  {% endblock %}
  </body>
{% endblock %}
