{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <h4><a href="/label">Add a new label</a></h4>
    <h1>Known labels</h1>

    {% for label in labels.items %}
      <p><a href="/label_tree?label_id={{ label.label_id }}">{{ label.text }}</a></p>
    {% endfor %}

  </div>
  <div class="row container-fluid">
    <div class="col-md-3">
      {% if prev_url %}
        <a href="{{ prev_url }}">Newer images</a>
      {% endif %}
    </div>
    <div class="col-md-6 text-center">Go to</div>
    <div class="col-md-3">
      {% if next_url %}
        <a href="{{ next_url }}">Older images</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
