{% extends "base.html" %}

{% block content %}
  <div class=container>
    <form action="" method="POST">
      {{ form.hidden_tag() }}

            <dl>
              {% from "_formhelpers.html" import render_field %}
              {{ render_field(form.parent) }}
              {{ render_field(form.name) }}
              {{ render_field(form.language) }}
            </dl>


{#      <dl>#}
{#        {% for field in form.display %}#}
{#          <dt>{{ form[field].label }}</dt>#}
{#          <dd>{{ form[field]() }}</dd>#}
{##}
{#          {% for field in form.errors %}#}
{#            {% for error in form.errors[field] %}#}
{#              <div class="alert alert-error">#}
{#                <strong>Error!</strong> {{ error }}#}
{#              </div>#}
{#            {% endfor %}#}
{#          {% endfor %}#}

          {#          {% if form[field].errors %}#}
          {#            {% for e in form[field].errors %}#}
          {#              <p class="help-block">{{ e }}</p>#}
          {#            {% endfor %}#}
          {#          {% endif %}#}
{#        {% endfor %}#}

      <p>
        <input type=submit value="Add label">
    </form>
  </div>
{% endblock %}
